{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "forceAllTransforms": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  },
  "compact": true
}
